* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

section {
    border: 1px solid gray;
}

ul {
    list-style: none;
    margin:0;
    padding:0; 
}

ul#js-evolution-chain li, ul#js-pokemon-forms li{
	display: inline;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.stat-name {
    width: 110px;
}

.stat-display {
    width: auto;
}

.stat-label{
    float: left;
}

.stat-value {
    float: right;
}

.stat {
    width: 0%;
    height: 10px;
    background-color: greenyellow;
    border-radius: 2px;
}
