* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#F8F8F8;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 7px;
}

h4 {
    font-style: italic;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    margin: 10px;
}

img {
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

section {
    margin: 10px;
    padding: 10px;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #DCDCDC;
}

ul {
    list-style: none;
    margin:0;
    padding:0; 
}

ul#js-evolution-chain li, ul#js-pokemon-forms li{
	display: inline;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.stat-name {
    width: 110px;
}

.stat-display {
    width: auto;
}

.stat-label{
    float: left;
}

.stat-value {
    float: right;
}

.stat {
    width: 0%;
    height: 10px;
    background-color: greenyellow;
    border-radius: 2px;
}

.hidden {
    display: none;
}

.left-align {
    text-align: left;
}
