* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:#F8F8F8;
}

div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    margin: 10px auto;

}

h4 {
    font-style: italic;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    margin: 10px;
}

img {
    margin: 5px;
}

section {
    margin: 10px;
    padding: 20px;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #DCDCDC;
    position: relative;
    z-index: 1;
}


ul {
    list-style: none;
    margin:0;
    padding:0; 
}

ul#js-evolution-chain li, ul#js-pokemon-forms li{
	display: inline;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.stat-name {
    width: 110px;
}

.stat-display {
    width: auto;
}

.stat-label{
    float: left;
}

.stat-value {
    float: right;
}

.stat-bar {
    width: 0%;
    height: 10px;
    border-radius: 2px;

    box-shadow: inset 1px 4px 0 rgba(255,255,255,.4), inset -1px -1px 0 rgba(0,0,0,.3);
}

.hidden {
    display: none;
}

.left-align {
    text-align: left;
}

.left-padding {
    padding-left: 12%;
}

.bold {
    font-weight: bold;
}

#search-bar-section {
    padding: 0;
    height: 40px;
}

input, button {
     border:none;  
}

form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fa {
    line-height: inherit;
    color: gray;
    vertical-align: center;
    padding: 7px 3px;
}

.fa-search, .fa-dice {
    font-size: 18px;
}


input {
    height: 30px;
    width: 40%;
    font-size: 16px;
}

.float-button {
    margin: 0;
    font-size: 25px;
    width: 40px;
    padding: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.float-button-left {
    left: 30px;
}

.float-button-middle {
    left: 20%;
}

.float-button-right {
    right: -10px;
}

.pokemon-type {
    width: 20px;
    margin: 0 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.pokemon-type-table {
    width: 15px;
    margin: 0;
    margin-bottom: 3px;
    vertical-align: middle;
}

figure{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.small-pokemon-image {
    vertical-align: bottom;
    margin: 0;
}

.caption {
    display: block;
    text-transform: capitalize;
    font-size: 13px;
}

#js-play-button{
    font-size: 12px;
    padding: 0 12px;
}

button {
    border-radius: 10px;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;}


button:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

.button-disabled{
    pointer-events: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    width: 100%;
}

.flex-clockwise{
    flex-direction: column;
}

.flex-counterclockwise{
    flex-direction: column;
}

@media screen and (min-width: 600px) {

    .flex-clockwise{
        flex-direction: row-reverse;
    }

    .flex-counterclockwise{
        flex-direction: row;
    }

    #js-pokedex-section{
        width: 50%;
    }

    #js-attributes-section{
        width: 50%;
    }

    #js-stats-section{
        width: 50%;
    }
    #js-moves-section{
        width: 50%;
    }
  }
